html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: black;
  font-family: Roboto;
  scroll-behavior: smooth;
  background-color: #efefef;
}

body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr (1fr)[3];
      grid-template-columns: 2fr repeat(3, 1fr);
  -ms-grid-rows: 1fr 2fr 3fr 4fr 2fr;
      grid-template-rows: 1fr 2fr 3fr 4fr 2fr;
      grid-template-areas: "navigation navigation navigation navigation" "hero-section hero-section hero-section hero-section" "portfolio portfolio portfolio portfolio" "skill-and-about-wrapper skill-and-about-wrapper skill-and-about-wrapper skill-and-about-wrapper" "footer footer footer footer";
}

body nav.navigation {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: navigation;
  background-color: black;
  padding: 10px;
}

body nav.navigation ul {
  max-width: 100%;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body nav.navigation ul li {
  text-transform: uppercase;
}

body nav.navigation ul li a {
  text-decoration: none;
  color: white;
}

body nav.navigation ul li a:hover {
  color: blue;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

body nav.navigation ul li.mobile-menu-button {
  display: none;
}

body nav.mobile-menu {
  display: none;
}

body section p {
  line-height: 2em;
}

body section#hero-section {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: hero-section;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  padding: 30px;
  background-image: url(https://images.unsplash.com/photo-1517433456452-f9633a875f6f?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=889&q=80);
  background-repeat: no-repeat;
  background-size: cover;
}

body section#hero-section img {
  border: 3px solid black;
  border-radius: 50%;
  -ms-grid-column-align: right;
      justify-self: right;
  max-width: 100%;
}

body section#hero-section .greeting {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: white;
}

body section#hero-section .greeting a.cta-btn:hover {
  background-color: blue;
  color: white;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

body section#hero-section .greeting a:not(.social-btn) {
  display: block;
  background-color: #F5C605;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  color: black;
  margin: .5em 0;
}

body section#hero-section .greeting a.social-btn:hover {
  color: blue;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

body section#hero-section .greeting a:not(.cta-btn) {
  color: white;
  font-size: 3em;
  margin: 0 12px 0 0px;
}

body section#portfolio {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: portfolio;
  width: 90vw;
  margin: 2rem auto;
}

body section#portfolio div#projects {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  grid-auto-rows: minmax(380px, 400px);
}

body section#portfolio div#projects div.project-tile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  border-radius: 5px;
  background-color: white;
  padding: 1em;
  -webkit-box-shadow: 0px 0px 6px 0px #000000;
          box-shadow: 0px 0px 6px 0px #000000;
}

body section#portfolio div#projects div.project-tile img {
  width: 100%;
  border-radius: 5px;
}

body section#portfolio div#projects div.project-tile h3 {
  color: black;
}

body section#portfolio div#projects div.project-tile h3:hover {
  text-decoration: underline;
}

body section#portfolio div#projects div.project-tile a {
  text-decoration: none;
  font-weight: bold;
}

body div.skill-and-about-wrapper {
  width: 90vw;
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: skill-and-about-wrapper;
  margin: 2rem auto;
  display: -ms-grid;
  display: grid;
  grid-gap: 2rem;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas: "skill-set about-me";
}

body section#skill-set {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: skill-set;
}

body section#about-me {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: about-me;
}

body footer.footer {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: footer;
  height: auto;
  width: 100%;
  margin: 0 auto;
  background-color: black;
  color: white;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

body footer.footer .footer-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
  margin: 0 auto;
}

body footer.footer .footer-contacts div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
}

body footer.footer .footer-contacts div a {
  font-size: 2.4em;
  color: white;
  margin-right: 1em;
}

body footer.footer .footer-contacts div a:hover {
  color: blue;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

body footer.footer .footer-nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
  margin: 0 auto;
}

body footer.footer .footer-nav-container nav ul {
  list-style-type: none;
}

body footer.footer .footer-nav-container nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: 600;
  font-size: 1.4em;
}

body footer.footer .footer-nav-container nav ul li a:hover {
  color: blue;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

@media screen and (min-width: 601px) {
  body nav#mobile-nav {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  body {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr 2fr 3fr 4fr 2fr;
        grid-template-rows: 1fr 1fr 2fr 3fr 4fr 2fr;
        grid-template-areas: "navigation" "mobile-menu" "hero-section" "portfolio" "skill-and-about-wrapper" "footer";
  }
  body nav.navigation ul {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body nav.navigation ul li.mobile-menu-button {
    display: block;
  }
  body nav.navigation ul li.mobile-menu-button button {
    border: none;
    background-color: transparent;
    color: white;
    font-size: 1.2em;
  }
  body nav.navigation ul li.mobile-menu-button button:hover {
    -webkit-transition: 1s ease;
    transition: 1s ease;
    color: blue;
  }
  body nav.navigation li:not(.name) {
    display: none;
  }
  body nav#mobile-nav {
    display: none;
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: mobile-menu;
  }
  body nav#mobile-nav ul {
    list-style-type: none;
    margin: 0 .5em;
  }
  body nav#mobile-nav ul li {
    text-transform: uppercase;
    margin: 1em 0;
  }
  body nav#mobile-nav ul li a {
    text-decoration: none;
    color: black;
  }
  body nav#mobile-nav ul a:hover {
    color: blue;
    -webkit-transition: 1s ease;
    transition: 1s ease;
  }
  body nav#mobile-nav.show {
    display: block;
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: mobile-menu;
  }
  body section#hero-section {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    height: 82vh;
  }
  body section#hero-section img {
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  body section#hero-section div#greeting {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    border: 1px solid black;
  }
  body section#portfolio div#projects {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  body div.skill-and-about-wrapper {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: "skill-set" "about-me";
  }
  body footer.footer {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  body footer.footer .footer-contacts {
    padding: 0;
  }
  body footer.footer .footer-nav-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  body footer.footer .footer-nav-container nav ul {
    padding: 0;
  }
  body footer.footer .footer-nav-container nav ul li {
    margin: .5em 0;
  }
}
/*# sourceMappingURL=styles.css.map */