html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
    font-family: Roboto;
    scroll-behavior: smooth;
    background-color: #efefef;
}

body {
    display: grid;
    grid-template-columns: 2fr repeat(3, 1fr);
    grid-template-rows: 1fr 2fr 3fr 4fr 2fr;
    grid-template-areas: 
    "navigation navigation navigation navigation"
    "hero-section hero-section hero-section hero-section"
    "portfolio portfolio portfolio portfolio"
    "skill-and-about-wrapper skill-and-about-wrapper skill-and-about-wrapper skill-and-about-wrapper"
    "footer footer footer footer";

    nav.navigation {
        grid-area: navigation;
        background-color: black;
        padding: 10px;

        ul {
            max-width: 100%;
            list-style-type: none;
            display: flex;
            justify-content: space-around;
            li {
                text-transform: uppercase;

                a {
                    text-decoration: none;
                    color: white;
                }
                a:hover {
                    color: blue;
                    transition: 1s ease;
                }
            }
            li.mobile-menu-button {
                display: none;
            }
        }
    }

    section#hero-section {
        grid-area: hero-section;
        display: grid;
        grid-template-columns: 1fr 2fr;
        padding: 30px;
        background-image: url(https://images.unsplash.com/photo-1517433456452-f9633a875f6f?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=889&q=80);
        background-repeat: no-repeat;
        background-size: cover;
        img {
            border: 3px solid black;    
            border-radius: 50%;
            justify-self: right;
            max-width: 100%;
        }
        .greeting {
            justify-self: center;
            align-self: center;
            color: white;

            a.cta-btn:hover {
                background-color: blue;
                color: white;
                transition: 1s ease;
            }

            a:not(.social-btn) {
                display: block;
                background-color: #F5C605;
                padding: 10px;
                text-align: center;
                text-decoration: none;
                border-radius: 5px;
                color: black;
                margin: .5em 0;
            }

            a.social-btn:hover {
                color: blue;
                transition: 1s ease;
            }

            a:not(.cta-btn){
                color: white;
                font-size: 3em;
                margin: 0 12px 0 0px;
            }
        }
    }

    section#portfolio {
        grid-area: portfolio;
        height: max-content;
        width: 90vw;
        margin: 0 auto;
    }

    div.skill-and-about-wrapper {
        width: 90vw;
        grid-area: skill-and-about-wrapper;
        margin: 0 auto;
    }


    section#skill-set{
        grid-area: skill-set;
    }

    section#about-me{
        grid-area: about-me;
    }
    footer.footer {
        grid-area: footer;
        height: 300px;
        width: 100%;
        margin: 0 auto;
        background-color: black;
        color: white;
        display: grid;
        grid-template-columns: 2fr 1fr;
        .footer-contacts {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 20px;
            div {
                display: flex;
                width: 100%;
                a {
                    font-size: 2.4em;
                    color: white;
                    margin-right: 1em;
                }
                a:hover {
                    color: blue;
                    transition: 1s ease;
                }
            }
        }

        .footer-nav-container {
            display: flex;
            padding: 20px;
            align-items: center;
            flex-direction: column;

            nav {
                ul {
                    list-style-type: none;
                    li {
                        a {
                            text-decoration: none;
                            color: white;
                            font-weight: 600;
                            font-size: 1.4em;
                        }
                        a:hover {
                            color: blue;
                            transition: 1s ease;
                        }
                    }
                }
            }
        }
    }

    @media screen and (max-width: 600px) {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 2fr 3fr 4fr 2fr;
        grid-template-areas: 
        "navigation"
        "mobile-menu"
        "hero-section"
        "portfolio"
        "skill-and-about-wrapper"
        "footer";

        nav.navigation {
            ul {
                justify-content: space-between;
                align-items: center;
                li.mobile-menu-button {
                    display: block;
                    button {
                        border: none;
                        background-color: transparent;
                        color: white;
                        font-size: 1.2em;
                    }
                    button:hover {
                        transition: 1s ease;
                        color: blue;
                    }
                }
            }
            li:not(.name) {
                display: none;
            }
        }

        section#hero-section {
            grid-template-columns: 1fr;
            height: 82vh;
            img {
                justify-self: center;
            }
            div#greeting {
                align-self: center;
                border: 1px solid black;
            }
        }
    }
}